* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 15px; */

}

main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 50%;
    border-radius: 5px;

}



.text {
    
    padding: 30px;
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    font-family: Inte;
    border-radius: 18px 0 0 18px;
    
}

.text .ust {
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;

}

.text .ust h3 span {
    color: hsl(277, 64%, 61%);
}

.text .ort p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.alt {
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: space-between;


}

.alt p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.alt .alt1 {
    width: 100%;
}

.alt .alt2 {
    width: 100%;
}

.alt .alt3 {
    width: 100%;
}
.img {
    width: 100%;
    border-radius: 0 18px 18px 0;
    background: url(./images/image-header-desktop.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    

}

.img .imgback {
    border-radius: 0 18px 18px 0 ;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, 0.525) ;
    
}